.navbar {
  background-color: #070707;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 50px;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #f18c3a;
}

.navLinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.list_item {
  margin: 0 10px;
}

.list_item:hover {
  transition: 0.7s;
  color: #36ac2e;
}
